@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik:ital,wght@0,300;1,400;1,500&display=swap');

html{
    font-family: Rubik;
    transition: all 0.3s ease;
    overflow-x: hidden;
    overflow-y: hidden;
}


:root{
    --backgroundWhite:#D9D9D9;
    --defaultBlack:#000000;
}
#body{

    transition: all 0.3s ease-in-out;
    background: var(--backgroundWhite);
    height: 100vh;
    width: 100vw;

}

#root{

    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 400;
    font-size: 1.4rem;

    margin-bottom: 0;



color: var(--defaultBlack);

}
button{
    color: var(--defaultBlack);
    width: 8rem;
    height: 3.5rem;
    margin-inline: 2rem;
    background: var(--backgroundWhite);
    border: 4px solid var(--defaultBlack);
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;

}

button:hover{
    cursor: pointer;
    background-color: var(--defaultBlack);
    color: var(--backgroundWhite);
}

.textSpan{
    color: var(--defaultBlack);
    font-weight: 600;
    font-size: 6rem;

    
}

